<div class="h-screen p-8">

  <button type="button" (click)="setRawData()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none">
    Fill with raw data
  </button>
  <button type="button" (click)="setPromisedRawData()" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">
    Fill with data from Promise
  </button>
  <button type="button" (click)="setPromisedPaginatedRawData()" class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2">
    Fill with data from paginated Promise
  </button>
  <div class="flex items-center mb-4">
    <input id="default-checkbox" type="checkbox" (change)="toggleSelectable()" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2">
    <label for="default-checkbox" class="ml-2 text-sm font-medium text-gray-900">Selectable</label>
  </div>

  <ng-container *ngIf="selectable">
    <ng-container *ngIf="!selectedRows?.length">Nothing selected</ng-container>
    <ng-container *ngIf="selectedRows?.length">
      Currently selected: {{selectedRows | json}}
    </ng-container>
  </ng-container>

  <app-table [columnHeaders]="columnHeaders" [data]="data" [selectable]="selectable" [(selectedRows)]="selectedRows"></app-table>

</div>

<ng-template #idTpl let-name="headerName">
  <h2>{{name}}</h2>
</ng-template>
<ng-template #firstNameTpl let-name="headerName">
  <p>{{name}}</p>
</ng-template>
<ng-template #lastNameTpl let-name="headerName">
  <h3>{{name}}</h3>
</ng-template>
